@font-face {
    font-family: 'AikoWeb';
    src: url('/fonts/aiko-r-webfont.woff2') format('woff2'),
         url('/fonts/aiko-r-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
