.bg {

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;

    &.autumn {
        background-image: url("./img/banners/autumn.png");
        width: 400px;
    }

    &.rain {
        background-image: url("./img/banners/rain.png");
        background-position: 24px 3px;
        overflow: visible;
        height: 54px;
    }
}